*{
  margin:0;
  padding:0;
  Border:0;
}
body{
  background-color: red;
    font-size: large;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}


header{
  background-color: green;
  grid-column: 1 / -1;
}



footer{
  background-color: aqua;
color: white;
  grid-column: 1 / -1;
}



section
{background-color:gray;
}



article{background-color: Blue ;
}



nav{background-color: Chartreuse  ;
}